<div class="newReceiptForm">
    <h2>Would you like to add a new Receipt?</h2>

    <form>
        <label for="restName">Restaurant Name</label>
        <input type="text" id="restName" name="restName"><br>

        <label for="ogAmt">Receipt Total</label>
        <input type="number" id="ogAmt" name="ogAmt"><br>

        <p>Which percentage would you like to tip?</p>

        <input type="radio" id="tenPercent" name="tenPercent" value="10">
        <label for="tenPercent">10%</label><br>

        <input type="radio" id="fifteenPercent" name="fifteenPercent" value="15">
        <label for="fifteenPercent">15%</label><br>

        <input type="radio" id="twentyPercent" name="twentyPercent" value="20">
        <label for="twentyPercent">20%</label><br>

        <button id="newReceiptButton" class="newReceiptBtn" type="button">Create New Receipt!</button>

    </form>
</div>

<script src="./js/TipCalc.js"></script>